page-home {

}

.item-ios.item-block .item-inner {
   border: 0;
}

.headerHome,
.scroll-content {
   transition: 0.5s;
}

[padding], [padding] .scroll-content {
   padding: 0px !important;
}

ion-fab {
   top: -1000px;
   transition: 0.5s;
}

.buttonSubmit {
   background-color: #16a085 !important;
}

.toast-wrapper.toast-top {
   background: #16a085 !important;
}

.toolbar-background {
   background-color: #16a085 !important;
   border-color: #16a085 !important;
}

$colors: (
  homeBackground:    #16a085
);
