.homeScreen {
  background-color: #252525 !important;
}

.textCenter {
  text-align: center;
}

.buttonHome {
  background-color: rgba(90, 90, 90, 0) !important;
  width: 7em !important;
  height: 7em !important;
}
.buttonHome.videoButton{
   color: #f53d3d !important;

}
.buttonHome.imageButton{
  color: #32db64 !important;
}
.buttonHome.libraryButton{
  color: #387ef5 !important;

}

.iconHomeButton {
  font-size: 7em;
}

.textOnButtonHome {
  color: white;
  font-weight: 700;
  font-size: 17px;
}

.item-ios,
.item-md {
   background: #252525;
   color: #fff;
}

// ion-content {
//     top: 1px !important;
// }

.button-md {
    box-shadow: 0px 0px 0px !important;
}
